/* style.css */
#dataContainer {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Efek bayangan */
  padding: 20px;
}

.editButton {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}

.editButton:hover {
  background-color: #0056b3;
}
